<h1>Plan <%= @party.name %></h1>
<p><%= link_to 'See party details', party_path(@party), class: 'btn btn-default btn-lg' %></p>
<div class="flex-grid">
  <div>
    <h2>Best prices to get your party started</h2>
    <%= render 'best_price_products' %>
  </div>
</div>