<body style="background-image:url('http://www.returnofkings.com/wp-content/uploads/2013/09/Joan-Crawford-Our-Dancing-Daughters-5.jpg');
              background-size: cover;">
<h1 style="font-color:lightcoral;">Welcome to Hen Party App</h1>
<%= link_to 'Create Hen Party', new_party_path, class: 'btn btn-default btn-lg'%>
