<h1>Create a Hen Party for</h1>
<%= form_for :party, url: new_party_path, html: { role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.text_field :brides_name, class: "form-control", placeholder: "Bride's name", autofocus: true %>
  </div>
  <div class='btn-welcome'>
  <%= f.submit 'Create Party', class: 'btn btn-default btn-lg' %>
  </div>
<% end %>