<h3>Congratulations!</h3>
<p>Hi <%= @user.first_name %></p>
<p>You have just created <%= @party.name %>!</p>
<p>
  Follow this is link to plan your hen party:<br />
  <%= link_to "Plan #{@party.name}", party_url(@party) %>
</p>
<p>
  Happy planning<br />
  from the Hen Party App Team
</p>